<p id="notice"><%= notice %></p>

<p>
  <b>Trail name:</b>
  <%#= @person.trail_name %>
</p>

<p>
  <b>Age:</b>
  <%#= @person.age %>
</p>

<p>
  <b>Person avatar:</b>
  <%#= @person.person_avatar_id %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
